<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <p>
     <a href="http://localhost:3000/list"> All Lists </a> | <a href="http://localhost:3000/list/create"> Create List </a>
 </p>
  </body>

</html>
